<link rel="stylesheet" type="text/css" href="style.css" />
<!DOCTYPE html>
<html>
    <head>
        <title class="page_title">Page Title</title>
    </head>
    <body id="Landing">
        <div header_landing>
            <h1 id="header_landing">Corendon</h1>
        </div>
        <div id="container">
            <form action="websitelinks.html" method="post">
                <label for="uname">Username</b></label>
                <input type="text" placeholder="Enter username" name="uname" required><br>
                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <p> <button type="submit">Login</button></p>
            </form>
         </div>
        
        <p> </p>

    </body>
</html>