<!DOCTYPE html>
<html>
    <head>
        <title class="page_title">home</title>

        <!--Relation with CSS file-->
        <link rel="stylesheet" type="text/css" href="{{url_for('static', 
        filename= 'style.css')}}"/>
              
    </head>
    <body>
        <!--Navigation bar-->
        <nav>
            <div class="logo">
                <p>Corendon</p>
            </div>
            <ul>
                <li><a href="" class="active">home</a></li>
                <li><a href="">media</a></li>             
            </ul>
        </nav>
        
        <!--Login Form-->
        <div class="container">
            <div class="header">
                <h1>login</h1>
            </div>
            <div class="main">
                <form method="POST">
                    <span>
                        <input type="text" placeholder="Seatnumber" name="" required>
                    </span><br>
                    <span>
                        <input type="text" placeholder="Last Name" name="" required>
                    </span><br>
                    <span>
                        <button>Login</button>
                    </span>
                </form>
            </div>
         </div>
        
        

    </body>
</html>