<link rel="stylesheet" type="text/css" href="style.css" />
<!DOCTYPE html>
<html>
    <head>
        <title class="page_title">home</title>
        <!--Navigation bar-->
        <div class="topnav">
            <a type="image" 
            <a class="active" href="Landingpage.html">Home</a>
            <a href="Multimediapage_disconnected.html">Multimedia</a>
        </div>
    </head>
    <body id="Landing">
        
        <div header_landing>
            <h1 id="header_landing">Corendon</h1>
        </div>
        <div id="container">
            <form method="POST" action="Homepage.html">
                <label for="uSeatnumber">Seatnumber</b></label>
                <input type="text" placeholder="Seatnumber" name="uSeatnumber" ><br>
                <label for="u"><b>Last Name</b></label>
                <input type="text" placeholder="Last Name" name="uLastName" >
                <p></p><input type="submit" placeholder="Login" name="ulogin">
            </form>
         </div>
        
        

    </body>
</html>